body {
        background-image: url(https://miro.medium.com/max/11344/1*32h8ts3A-7XNr6A4Js87ng.jpeg);
}
h1{
        font-size: 35px;
        color: salmon;
}
h2{
        font-size: 50px;
        color: blueviolet;
}
.big{
    font-style: oblique;
}